<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>

    <body>

        <div th:replace="fragments :: page-header"></div>

        <div class="container body-content">
            <h1 th:text="${#strings.capitalizeWords(title)}"></h1>
            <h2 class = "centered">View Jobs By Category</h2>
        </div>

        <table class="centeredTable">
            <tr>
                <th:block th:each="column : ${columns}">
                    <th th:text = "${column.value}"></th>
                </th:block>
            </tr>
            <tr>


               <!-- Feel free to remove or modify this element if necessary. -->
<!--                Remember that I made this way too complicated and ignored the TO DO-->
                <td> <a th:href = "@{/list/jobs(column=all)}">All</a>
                </td>
               <!--hashmap from JobChoices with employer, location, etc as keys. Values are arraylists of Employer, etc. objects-->
               <!-- category is one key/value pait from tableChoices-->
<!--                try adding a link here and updating the controller-->

                <td th:each="category : ${tableChoices}">

                    <ul>
<!--                        // for category= all, add the link tmy list-jobs.html page-->
<!--                    for each item in category-->
                        <li th:each="item : ${category.value}">
<!--                            <a th:href="@{list-jobs}">all</a>-->
<!--                            //sets the query parameters for column=and value= -->
<!--                            //the keys will be employer, location, etc. THe values wil be the individual elements from the related arraylist-->
<!--                            //when the user clicks on these links, they are routed to the ListJobsByColumnAndValue handler in ListController, which looks for the params.-->
                            <a th:href="@{/list/jobs(column=${category.key},value=${item})}" th:text="${item}"></a>
                                    </li>
                    </ul>
                </td>
            </tr>
        </table>

    </body>
</html>